<section class="bg">
  <h1>Compras Online</h1>
  <p>O seu portal de compras.</p>
</section>
<section class="promo">
  <h3>Promoções da Semana</h3>
  <div class="carroussel">
    <div class="card">
      <ul>
        <li><h4>Pamonha Fresquinha</h4></li>
        <li>
          <a href=""><img src="./assets/img/pamonha.jpg" alt="" /></a>
        </li>
        <li>R$589,00</li>
        <a class="buttom" href="#">Adicionar ao carrinho</a>
      </ul>
    </div>
    <div class="card">
      <ul>
        <li><h4>Pamonha Fresquinha</h4></li>
        <li>
          <a href=""><img src="./assets/img/pamonha.jpg" alt="" /></a>
        </li>
        <li>R$589,00</li>
        <a class="buttom" href="#">Adicionar ao carrinho</a>
      </ul>
    </div>
    <div class="card">
      <ul>
        <li><h4>Pamonha Fresquinha</h4></li>
        <li>
          <a href=""><img src="./assets/img/pamonha.jpg" alt="" /></a>
        </li>
        <li>R$589,00</li>
        <a class="buttom" href="#">Adicionar ao carrinho</a>
      </ul>
    </div>
  </div>
</section>
