<section class="bg">
  <h1>{{tituloPg}}</h1>
  <p>{{fulano}}</p>
</section>
<h3>Promoções da Semana</h3>
<app-product [product]="topProduct"></app-product>
<app-product-list [productsList]="productsListPamonhas" [title]="'Pamonhas'"></app-product-list>
<app-product-list [productsList]="productsListDogao" [title]="'Dogões'"></app-product-list>

<!-- 
  
  Interpolação
  <div class="card">
    <p>main.component</p>
    <ul *ngFor="let product of products">
      <li>
        <h4>{{product.nome}}</h4>
      </li>
      <li>
        <a href=""><img src="./assets/img/pamonha.jpg" alt="" /></a>
      </li>
      <li>{{product.preco |currency}}</li>
      <a class="buttom" href="#">Adicionar ao carrinho</a>
    </ul>
  </div>

      NÃO É PRECISO REPETIR DIV
      <div class="card">
      <ul>
        <li><h4>Pamonha Fresquinha</h4></li>
        <li>
          <a href=""><img src="./assets/img/pamonha.jpg" alt="" /></a>
        </li>
        <li>{{valor |currency}}</li>
        <a class="buttom" href="#">Adicionar ao carrinho</a>
      </ul>
      </div>
    <div class="card">
      <ul>
        <li><h4>Pamonha Fresquinha</h4></li>
        <li>
          <a href=""><img src="./assets/img/pamonha.jpg" alt="" /></a>
        </li>
        <li>{{valor |currency}}</li>
        <a class="buttom" href="#">Adicionar ao carrinho</a>
      </ul>
    </div>

  -->
